# ===== Java =====
*.class
*.log

# ===== Gradle =====
.gradle/
build/

# ===== IntelliJ IDEA =====
.idea/
*.iml

# ===== Eclipse =====
.project
.classpath
.settings/

# ===== OS =====
.DS_Store

# ===== Spring Boot =====
out/

# ===== Package files (보통 Spring에선 불필요) =====
*.jar
*.war